.recipes-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1.5em;
}
.recipe-card{
    isolation: isolate;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    .recipe-card-info{
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto
    }
    .custom-image{
        z-index: -1;
    }
    .auther-img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--background-light);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 2;
    }
    .recipe-title{
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: .5em;
        color: var(--text-color);
        margin-top: .25em;
    }
    .recipe-desc{
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: 1px;
        margin-bottom: 1.8em;
    }
    .view-btn{
        font-size: 1em;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: auto;
        display: inline-block;
    }
    .recipe-ingredients{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: 1px;
        margin-bottom: 1.8em;
    }
    .ingredient-list {
        border-left: .2em solid var(--primary-color);
        margin-right: .5em;
        padding: .1em 0 .1em .5em;
        color: var(--text-light);
        font-weight: bold;
        transform: translateX(100%);
        opacity: 0;
        animation: getAnimationDuration(.3s) slideInRight forwards;
        @for $i from 2 through 20 {
            &:nth-child(#{$i}){
                animation-delay: #{$i * .1}s;
            }
        }
    }
}